<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
</head>
<body>


    @if (IsSectionDefined("Header"))
    {
        @RenderSection("Header")
    }
    else
    {
    }

    @if (IsSectionDefined("Menu"))
    {
        @RenderSection("Menu")
    }
    else
    {
        <header class="menu">
            <div class="menu__content container">
                <div class="row">
                    <div class="menu__content-left col-8">
                        <nav class="menu__navbar-position navbar navbar-expand-sm navbar-light bg-faded">
                            <button class="navbar-toggler" onclick="Dropdown()" type="button" data-target="#nav-content"
                                    aria-controls="nav-content" aria-expanded="false" aria-label="Переключатель навигации">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="nav-content">
                                <ul class="navbar-nav" id="items">
                                    <li class="nav-item"> <a id="1" class="dropdown-item active" href=".">Главная</a> </li>
                                    <li class="nav-item"> <a id="2" class="dropdown-item" href="#">Акции</a> </li>
                                    <li class="nav-item"> <a id="3" class="dropdown-item" href="#">Каталог</a> </li>
                                    <li class="nav-item"> <a id="4" class="dropdown-item" href="/Contact">Контакты</a> </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="menu__content-right col-4">
                        <a href="tel:+796786756"> +796786756 </a>
                    </div>
                </div>
            </div>
        </header>
    }



    <div class="page">

        @RenderBody()


        @if (IsSectionDefined("Footer"))
        {
            @RenderSection("Footer")
        }
        else
        {
            <footer class="footer">
                <div class="footer__content container ">
                    <div class="row">
                        <div class="footer__content-left col-8">
                            <p class="lead">Шаурма с душой © 2011-2021</p>
                        </div>
                        <div class="footer__content-right col-4">
                            <i class="fa fa-vk fa-2x" aria-hidden="true"></i>
                            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                            <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </footer>
        }
    </div>


    <script src="https://kit.fontawesome.com/0747137cf0.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/dropdowns.js"></script>
    <script src="~/Scripts/acticveDropdownItemMenu.js"></script>
</body>
</html>
