<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
</head>
<body>


    @if (IsSectionDefined("Header"))
    {
        @RenderSection("Header")
    }
    else
    {
    }

    @if (IsSectionDefined("Menu"))
    {
        @RenderSection("Menu")
    }
    else
    {
        <header class="menu">
            <div class="menu__content container">
                <div class="row">
                    <div class="col-8">
                        <div class="menu__content-left">
                            <a href="#" class="active">Главная</a>
                            <a href="#">Акции</a>
                            <a href="#">Каталог</a>
                            <a href="#">Контакты</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="menu__content-right">
                            <a href="#">+796786756</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    }



    <div class="page">

        @RenderBody()


        @if (IsSectionDefined("Footer"))
        {
            @RenderSection("Footer")
        }
        else
        {
            <footer class="footer">
                <div class="footer__content container ">
                    <div class="row">
                        <div class="footer__content-left col-8 center-block">
                            <p class="lead">Шаурма с душой © 2011-2021</p>
                        </div>
                        <div class="footer__content-right col-4 center-block">
                            <i class="fa fa-vk fa-3x" aria-hidden="true"></i>
                            <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
                            <i class="fa fa-youtube-play fa-3x" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </footer>
        }
    </div>


    <script src="https://kit.fontawesome.com/0747137cf0.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/transparentNavbar.js"></script>
</body>
</html>
